<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- Service Beans -->
    <bean id="webService" class="org.codehaus.perpetuum.services.WebService" init-method="start" destroy-method="stop">
        <property name="port"><value>5000</value></property>
    </bean>

    <!-- Perpetuum Data Source -->
    <bean id="perpetuumDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:file:data/PERPETUUM" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <!-- Perpetuum Session Factory -->
    <bean id="perpetuumSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="perpetuumDataSource" />
        <property name="mappingResources">
            <list>
                <value>mappings/perpetuum.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!-- <prop key="hibernate.show_sql">true</prop> -->
            </props>
        </property>
    </bean>
    
    <!-- Perpetuum DAO -->
    <bean id="userDAO" class="org.codehaus.perpetuum.persistence.UserDAO">
    		<property name="sessionFactory" ref="perpetuumSessionFactory"/>
    </bean>
</beans>
