body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, lucida sans, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: #ffffff;
}

a:hover {
  color: #595252;
}


#header {
  border-bottom: 1px solid #595252;
  width: 100%;
  white-space: nowrap;
}

#top_menu {
  background-color: #6a70e9;
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid #595252;
  font-size: small;
  padding: 3px 0px 3px 0px;
  width: 100%;
}

#left_menu {
  border-right: 1px solid #6a70e9;
  border-bottom: 1px solid #6a70e9;
  font-size: small;
  width: 175px;
  float: left;
}

#left_menu a:link, #left_menu a:visited, #left_menu a:active {
  color: #595252;
}

#left_menu a:hover {
  color: #6a70e9;
}

#left_menu ul {
  margin: 0px;
  padding: 0px 0px 3px 0px;
  font-size: small;
}

#left_menu li {
  list-style-type: none;
  font-size: smaller;
  padding-left: 15px;
}

.left_menu_header h5 {
  margin: 0px;
  padding: 3px;
  border-bottom: 1px solid #6a70e9;
  background-color: #595252;
  font-weight: bold;
  color: #ffffff;
}
