body {
  margin: 0px;
  padding: 0px;
  font-family: lucida sans, Verdana, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: #ffffff;
}

a:hover {
  color: #595252;
}


#header {
  border-bottom: 1px solid #595252;
  width: 100%;
  white-space: nowrap;
}

#top_menu {
  background-color: #6a70e9;
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid #595252;
  font-size: small;
  padding: 3px 0px 3px 0px;
  width: 100%;
}

#left_menu {
  border: 1px; solid #000000;
  padding: 5px;
}
