<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- Service Beans -->
    <bean id="webService" class="org.codehaus.perpetuum.services.WebService" init-method="start" destroy-method="stop">
        <property name="port"><value>5000</value></property>
    </bean>

    <!-- Perpetuum Data Source -->
    <bean id="perpetuumDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
        <property name="url" value="jdbc:derby:PERPETUUM;create=true" />
    </bean>

    <!-- Perpetuum Session Factory -->
    <bean id="perpetuumSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="perpetuumDataSource" />
        <property name="mappingResources">
            <list>
                <value>META-INF/mappings/perpetuum.conf</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
</beans>
